- breadcrumb_title _("Code Review")
- page_title _("Code Review")

.mb-3
  %h3.mb-2
    = _('Code Review')
  %span.text-secondary= _('Review time is the amount of time since the first comment in a merge request.')
#js-code-review-analytics{ data: code_review_app_data(@project) }
