- page_title _('Audit Events')

%h1.page-title.gl-font-size-h-display= _('Instance audit events')
%p.light
  = _('Track important events in your GitLab instance.')
  = link_to _('What are instance audit events?'), help_page_path('administration/audit_events.md', anchor: 'instance-events'), target: '_blank', rel: 'noopener noreferrer'

#js-audit-log-app{ data: audit_log_app_data(@is_last_page, @events) }
  = gl_loading_icon(size: 'lg', css_class: 'gl-my-7')
