- context = local_assigns.fetch(:context)

- return unless push_rule.available?(:reject_unsigned_commits, object: context)

- form = local_assigns.fetch(:form)
- push_rule = local_assigns.fetch(:push_rule)

= form.gitlab_ui_checkbox_component :reject_unsigned_commits,
    s_("PushRules|Reject unsigned commits"),
    checkbox_options: { data: { qa_selector: 'reject_unsigned_commits_checkbox' }, disabled: !can_change_push_rule?(form.object, :reject_unsigned_commits, context) },
    help_text: reject_unsigned_commits_description(push_rule)
