- migrate_link = link_to(_('For more info, read the documentation.'), help_page_path('administration/raketasks/storage.md', anchor: 'migrate-to-hashed-storage'), target: '_blank', rel: 'noopener').html_safe

- if show_enable_hashed_storage_warning?
  = render Pajamas::AlertComponent.new(variant: :warning,
    dismissible: true,
    alert_options: { class: 'gl-mt-5 js-geo-enable-hashed-storage-callout', data: { testid: 'enable_hashed_storage_alert', feature_id: Users::CalloutsHelper::GEO_ENABLE_HASHED_STORAGE, dismiss_endpoint: callouts_path } }) do |c|
    - c.with_body do
      = _('Please enable and migrate to hashed storage to avoid security issues and ensure data integrity. %{migrate_link}').html_safe % { migrate_link: migrate_link }

- if show_migrate_hashed_storage_warning?
  = render Pajamas::AlertComponent.new(variant: :warning,
    dismissible: true,
    alert_options: { class: 'gl-mt-5 js-geo-migrate-hashed-storage-callout', data: { testid: 'migrate_hashed_storage_alert', feature_id: Users::CalloutsHelper::GEO_MIGRATE_HASHED_STORAGE, dismiss_endpoint: callouts_path } }) do |c|
    - c.with_body do
      = _('Please migrate all existing projects to hashed storage to avoid security issues and ensure data integrity. %{migrate_link}').html_safe % { migrate_link: migrate_link }
