- return if Gitlab::Geo.license_allows?
.js-vue-alert{ 'v-cloak': true, data: { variant: 'tip',
  primary_button_text: _('Manage your subscription'),
  primary_button_link: admin_subscription_path,
  dismissible: 'true' } }
  = s_('Geo|This GitLab instance is subscribed to the %{insufficient_license} tier. Geo is only available for users who have at least a Premium subscription.') % { insufficient_license: current_license_title }
