[Unit]
Description=GitLab Sidekiq
ReloadPropagatedFrom=gitlab.target
PartOf=gitlab.target
After=network.target
# # You might want to add these if you run redis and postgres on the same
# # machine as gitlab. Do this by either uncommenting the following `Requires=`
# # and `After=` or, preferedly, running `systemctl edit gitlab-puma.service`
# # and adding a `[Unit]` section and the respective keys below it.
# Wants=redis-server.service postgresql.service
# After=redis-server.service postgresql.service
JoinsNamespaceOf=gitlab-puma.service

[Service]
Type=simple
User=git
WorkingDirectory=/home/git/gitlab
Environment=RAILS_ENV=production
ExecStart=/usr/local/bin/bundle exec sidekiq --config /home/git/gitlab/config/sidekiq_queues.yml --environment production
ExecStop=/usr/local/bin/bundle exec sidekiqctl stop /run/gitlab/sidekiq.pid
PIDFile=/home/git/gitlab/tmp/pids/sidekiq.pid
Restart=on-failure
RestartSec=1
SyslogIdentifier=gitlab-sidekiq
Slice=gitlab.slice

[Install]
WantedBy=gitlab.target
