- add_to_breadcrumbs _('Security configuration'), project_security_configuration_path(@project)
- add_to_breadcrumbs s_('DastProfiles|Manage profiles'), project_security_configuration_profile_library_path(@project, anchor: 'site-profiles')
- breadcrumb_title s_('DastProfiles|Edit site profile')
- page_title s_('DastProfiles|Edit site profile')

.js-dast-site-profile-form{ data: edit_dast_site_profile_form_data(@project, @site_profile) }
