- return unless show_cc_validation_alert?(pipeline)
- open_validate_account_modal = session.delete(:start_account_validation)
#js-cc-validation-required-alert{ data: { open_validate_account_modal: open_validate_account_modal } }
