= s_("in %{duration}, using %{compute_minutes} compute minutes, and was queued for %{queued_duration}").html_safe % { duration: duration, compute_minutes: pipeline.total_ci_minutes_consumed, queued_duration: queued_duration }
