- add_to_breadcrumbs _('Geo Sites'), admin_geo_nodes_path
- page_title @form_title

#js-geo-site-form{ data: { "selective-sync-types" => selective_sync_types_json,
  "sync-shards-options" => repository_storages_options_json,
  "site-data" => @serialized_site,
  "sites-path" => admin_geo_nodes_path } }
