- add_page_specific_style 'page_bundles/admin/geo_sites'
- page_title _('Geo sites')

= render partial: 'admin/geo/shared/hashed_storage_alerts'
= render partial: 'admin/geo/shared/license_alert'

#js-geo-sites{ data: geo_sites_vue_data }
