%li.context-header
  = link_to security_dashboard_path, title: _('Security Dashboard'), class: 'has-tooltip', data: { container: 'body', placement: 'right' } do
    %span.avatar-container.icon-avatar.rect-avatar.s32
      = brand_header_logo
    %span.sidebar-context-title
      = _('Security')
