- return unless current_user.admin?

- form = local_assigns.fetch(:form)

.form-group.gl-form-group{ role: 'group' }
  = form.label :shared_runners_minutes_limit, s_('AdminUsers|Quota of CI/CD minutes')
  = form.number_field :shared_runners_minutes_limit, class: 'gl-form-input form-control gl-form-input-sm', min: 0
  %small.form-text.text-gl-muted
    = s_('AdminUsers|The maximum number of CI/CD minutes on shared runners that a group can use each month. Set 0 for unlimited. Set empty to inherit the global setting of %{minutes}') % { minutes: Gitlab::CurrentSettings.shared_runners_minutes }
    = link_to sprite_icon('question-o'), help_page_path('ci/pipelines/cicd_minutes'), target: '_blank', rel: 'noopener noreferrer'
