- group = local_assigns.fetch(:group)
- form = local_assigns.fetch(:form)

- return unless group.root?

= render 'namespaces/shared_runners_minutes_setting', form: form
- unless group.new_record?
  #js-pipeline-minutes-vue{ data: { reset_minutes_path: admin_group_reset_runners_minutes_path(group) } }
