- return unless current_user.admin?

- form = local_assigns.fetch(:form)

.form-group.row
  .col-12
    = form.label :shared_runners_minutes_limit, "Quota of CI/CD minutes"
    = form.number_field :shared_runners_minutes_limit, class: 'form-control', min: 0
    %span.form-text.text-muted#shared_runners_minutes_limit_help_block
      The maximum number of CI/CD minutes on shared runners that a group can use each month.
      Set 0 for unlimited.
      Set empty to inherit the global setting of #{Gitlab::CurrentSettings.shared_runners_minutes}.
      = link_to sprite_icon('question-o'), help_page_path('ci/pipelines/cicd_minutes'), target: '_blank', rel: 'noopener noreferrer'
