.form-group.row.js-providerId-group.gl-display-none
  .col-sm-2.col-form-label
    = f.label :saml_provider_id, _("Provider ID")
  .col-sm-10
    = f.text_field :saml_provider_id, class: 'form-control'
