.form-group
  .js-input-copy-visibility{ data: product_analytics_configurator_connection_string_data(form_name: 'project[project_setting_attributes]', value: @project.project_setting.product_analytics_configurator_connection_string) }
