.col-lg-2.col-md-3.col-sm-12
  .gl-card.gl-mb-5
    .gl-card-body
      .topic-info
        %h5.gl-m-0
          = topic.name
        = link_to n_('%d project', '%d projects', topic.count) % topic.count, explore_projects_path(topic: topic.name)
