- page_title _('Dashboards')
- collector_host = Gitlab::CurrentSettings.current_application_settings.jitsu_host.gsub(%r{(://\w+.)}, '://collector.')

#js-analytics-dashboard{
  data: {
    project_id: @project.id,
    jitsu_key: @project.project_setting.jitsu_key,
    collector_host: collector_host,
    chart_empty_state_illustration_path: image_path('illustrations/chart-empty-state.svg'),
    project_full_path: @project.full_path,
    router_base: project_product_analytics_dashboards_path(@project)
  }
}
  = gl_loading_icon(size: 'lg', css_class: 'gl-my-7')
