- page_title _('Dashboards')

#js-analytics-dashboard{
  data: {
    chart_empty_state_illustration_path: image_path('illustrations/chart-empty-state.svg'),
    jitsu_key: @project.project_setting.jitsu_key,
    project_id: @project.id
  }
}
  = gl_loading_icon(size: 'lg', css_class: 'gl-my-7')
