- @hide_breadcrumbs = true
- @hide_top_links = true
- @content_class = 'limit-container-width'
- page_title s_('SlackIntegration|GitLab for Slack')

.js-add-gitlab-slack-application{ data: add_to_slack_data(@projects)  }
