- return unless ::License.feature_available?(:disable_deleting_account_for_users)

- form = local_assigns.fetch(:form)

= form.gitlab_ui_checkbox_component :allow_account_deletion, s_("ApplicationSettings|Allows users to delete their own accounts")
