- return unless ::Gitlab.org_or_com?

- form = local_assigns.fetch(:form)

.form-group
  = form.label :check_namespace_plan, _('Check feature availability on namespace plan'), class: 'label-bold'
  = form.gitlab_ui_checkbox_component :check_namespace_plan,
    _("Allow use of licensed EE features"),
    help_text: _("Licensed Enterprise Edition features can be used if the project namespace's plan includes the feature, or if the project is public.")
