- return unless License.feature_available?(:default_project_deletion_protection)

- f = local_assigns.fetch(:form)

.form-group
  = f.label _('Allowed to delete projects'), class: 'label-bold'
  = f.gitlab_ui_radio_component :default_project_deletion_protection, false, _('Owners and administrators')
  = f.gitlab_ui_radio_component :default_project_deletion_protection, true, _('Administrators')
