- return unless personal_access_token_expiration_policy_licensed?
- form = local_assigns.fetch(:form)

.form-group
  = form.label :max_personal_access_token_lifetime, _('Maximum allowable lifetime for access token (days)'), class: 'label-light'
  = form.number_field :max_personal_access_token_lifetime, class: 'form-control gl-form-input input-xs'
  %span.form-text.text-muted#max_personal_access_token_lifetime= _('When enabled, existing access tokens may be revoked. Leave blank for no limit.')
