.form-group
  .js-input-copy-visibility{ data: product_analytics_configurator_connection_string_data(form_name: 'application_setting', value: @application_setting.product_analytics_configurator_connection_string) }
