- breadcrumb_title _("Templates")
- page_title _("Templates")
- add_page_specific_style 'page_bundles/settings'

= render_if_exists 'admin/application_settings/templates', expanded: expanded_by_default?

= render_if_exists 'admin/application_settings/custom_templates_form', expanded: expanded_by_default?
