- title = s_("GroupSettings|Reporting")
- breadcrumb_title title
- page_title title

%h4.settings-title
  = s_('GroupSettings|Git abuse rate limit')
%p
  = s_('GroupSettings|Configure limits on the number of repositories users can download, clone, or fork in a given time.')

- if @group.unique_project_download_limit_enabled?
  #js-unique-project-download-limit-settings-form{ data: unique_project_download_limit_settings_data }
