%li.gl-pb-5
  = form.gitlab_ui_checkbox_component :member_events, integration_webhook_event_human_name(:member_events),
      help_text: s_('Webhooks|A group member is created, updated, or removed.')
