- return unless send_emails_from_admin_area_feature_available?

= link_button_to nil, admin_email_path, data: { toggle: "tooltip", placement: "top", container: "body" }, title: s_("AdminUsers|Send email to users"), icon: 'mail'
