- return unless @user.persisted?

.settings-section
  .settings-sticky-header
    .settings-sticky-header-inner
      %h4.gl-my-0
        = s_('AdminUsers|Limits')

  = f.fields_for :namespace do |namespace_form|
    = namespace_form.hidden_field :id
    = render 'namespaces/shared_runners_minutes_setting', form: namespace_form
    #js-pipeline-minutes-vue{ data: { reset_minutes_path: reset_runners_minutes_admin_user_path(@user) } }

