- return unless @user.persisted?

= f.fields_for :namespace do |namespace_form|
  = namespace_form.hidden_field :id
  %fieldset
    %legend.gl-border-bottom-0 Limits
    = render 'namespaces/shared_runners_minutes_setting', form: namespace_form
    .form-group.gl-mb-0
      .col-12
        #pipeline-minutes-vue{ data: { reset_minutes_path: reset_runners_minutes_admin_user_path(@user) } }
