- if Gitlab::CurrentSettings.should_check_namespace_plan?
  = f.fields_for :namespace do |namespace_form|
    .settings-section
      .settings-sticky-header
        .settings-sticky-header-inner
          %h4.gl-my-0
            = _('Licensed Features')

      = render 'admin/namespace_plan', f: namespace_form
