- if Gitlab::CurrentSettings.should_check_namespace_plan?
  = f.fields_for :namespace do |namespace_form|
    .gl-border-b.gl-pb-3.gl-mb-6
      .row
        .col-lg-4
          %h4.gl-mt-0
            = _('Licensed Features')
        .col-lg-8
          = render 'admin/namespace_plan', f: namespace_form
