- return unless can?(current_user, :admin_group, group) && License.feature_available?(:member_lock)

.form-group
  = f.gitlab_ui_checkbox_component :membership_lock,
      _('Users cannot be added to projects in this group'),
      checkbox_options: { data: { qa_selector: 'membership_lock_checkbox' } }
