.related-issues-token-body {
  a.issuable-main-info:hover {
    text-decoration: none;

    .issue-token-title-text {
      text-decoration: underline;
    }
  }
}

.issue-token-end {
  order: 1;
}

.linked-issues-card-body > * + * {
  margin-top: $gl-padding;
}
