- breadcrumb_title s_('DORA4Metrics|Analytics Dashboards')

#js-analytics-dashboards-app{ data: { full_path: @group.full_path, namespaces: @namespaces.to_json, pointer_project: @pointer_project&.to_json } }
