- if show_start_free_trial_messages?(namespace)
  %p
    = link_to _('Start your free trial'),
      new_trial_registration_path(glm_source: glm_source, glm_content: glm_content),
      class: 'btn btn-confirm gl-button',
      data: start_free_trial_data
