- if show_start_free_trial_messages?(namespace)
  %p
    = link_button_to _('Start your free trial'),
      new_trial_registration_path(glm_source: glm_source, glm_content: glm_content),
      variant: :confirm,
      data: start_free_trial_data
