- add_to_breadcrumbs _("Security configuration"), project_security_configuration_path(@project)
- breadcrumb_title s_("SecurityConfiguration|SAST configuration")
- page_title s_("SecurityConfiguration|SAST configuration")

.js-sast-configuration{ data: sast_configuration_data(@project) }
