- parent = local_assigns.fetch(:parent)
- return unless parent&.feature_available?(:issuable_health_status)

.block
  .title
    = _('Health status')
  .filter-item
    .js-health-status-dropdown-root
  %input{ id: 'issue_health_status_value', type: 'hidden', name: 'update[health_status]' }
