- if @project.group.licensed_feature_available?(:iterations)
  .js-sidebar-iteration-widget-root{ data: { can_edit: can_edit, group_path: group_path, project_path: project_path, issue_iid: issue_iid } }
