- if issuable_sidebar[:supports_escalation_policies]
  .block.escalation-policy{ data: { testid: 'escalation_policy_container' } }
    .js-sidebar-escalation-policy-root{ data: { can_edit: issuable_sidebar.dig(:current_user, :can_update_escalation_policy).to_s, project_path: issuable_sidebar[:project_full_path], issue_iid: issuable_sidebar[:iid], has_escalation_policies: @project.incident_management_escalation_policies.any?.to_s } }
