- registration_features_docs_path = help_page_path('development/service_ping/index.md', anchor: 'registration-features-program')
- service_ping_settings_path = metrics_and_profiling_admin_application_settings_path(anchor: 'js-usage-settings')

= sprintf(s_('Want to use this feature for free? The %{linkStart}Registration Features Program%{linkEnd} does just that.') , { linkStart: "<a href=\"#{registration_features_docs_path}\" target=\"_blank\">", linkEnd: "</a>", }).html_safe

- if @license.present?
  = sprintf(s_('Simply %{linkStart}enable Service Ping and select Registration Features%{linkEnd} in your admin settings.') , { linkStart: "<a href=\"#{service_ping_settings_path}\" target=\"_blank\">", linkEnd: "</a>", }).html_safe
