- add_to_breadcrumbs s_("SecurityOrchestration|Policies"), project_security_policies_path(@project)
- breadcrumb_title s_("SecurityOrchestration|Edit policy")
- page_title s_("SecurityOrchestration|Edit policy"), @policy_name, s_("SecurityOrchestration|Policies")
- data = orchestration_policy_data(@project, @policy_type, @policy, @approvers)

#js-policy-builder-app{ data: data }
