- return unless show_code_suggestions_third_party_alert?(source.root_ancestor)

- content_for :code_suggestions_third_party_alert do
  = render Pajamas::AlertComponent.new(variant: :warning,
    title: s_('CodeSuggestionsThirdPartyAlert|We use third-party AI services to improve Code Suggestions.'),
    alert_options: { class: 'js-code-suggestions-third-party-callout',
      data: { feature_id: Users::CalloutsHelper::CODE_SUGGESTIONS_THIRD_PARTY_CALLOUT,
      dismiss_endpoint: callouts_path } },
    close_button_options: { data: { testid: 'code_suggestions_third_party_alert_dismiss' }}) do |c|
    - c.with_body do
      - third_party_link_start = '<a href="%{url}">'.html_safe % { url: help_page_path('user/group/manage', anchor: 'enable-third-party-ai-features') }
      - code_suggestions_link_start = '<a href="%{url}">'.html_safe % { url: help_page_path('user/project/repository/code_suggestions') }
      - profile_settings_link_start = '<a href="%{url}">'.html_safe % { url: help_page_path('user/project/repository/code_suggestions', anchor: 'enable-code-suggestions-for-an-individual-user') }
      - link_end = '</a>'.html_safe
      = s_("CodeSuggestionsThirdPartyAlert|%{code_suggestions_link_start}Code Suggestions%{link_end} now uses third-party AI services to provide higher quality suggestions. You can %{third_party_link_start}disable third-party services%{link_end} for your group, or disable Code Suggestions entirely in %{profile_settings_link_start}your user profile%{link_end}.").html_safe % { third_party_link_start: third_party_link_start,
        code_suggestions_link_start: code_suggestions_link_start,
        profile_settings_link_start: profile_settings_link_start,
        link_end: link_end }
