- content_for :page_level_alert do
  = render Namespaces::FreeUserCap::EnforcementAlertComponent.new(namespace: source.root_ancestor,
    user: current_user,
    content_class: full_content_class)

  = render Namespaces::FreeUserCap::EnforcementAtLimitAlertComponent.new(namespace: source.root_ancestor,
    user: current_user,
    content_class: full_content_class)

  = render Namespaces::FreeUserCap::NonOwnerEnforcementAlertComponent.new(namespace: source.root_ancestor,
    user: current_user,
    content_class: full_content_class)
