- if show_minute_limit_banner?(namespace)
  .container-fluid
    .row
      = render Pajamas::AlertComponent.new(title: s_("Changes to free tier open source projects"),
        alert_options: { class: 'gl-mt-5 js-minute-limit-banner',
                         data: { feature_id: ::Users::CalloutsHelper::MINUTE_LIMIT_BANNER, dismiss_endpoint: callouts_path }}) do |c|
        = c.body do
          - enrollment_link = external_link("enroll in the GitLab for Open Source Program", "https://about.gitlab.com/blog/2022/02/04/ultimate-perks-for-open-source-projects")
          - faq_link = external_link("FAQ", "https://about.gitlab.com/pricing/faq-efficient-free-tier/#public-projects-on-gitlab-saas-free-tier")
          = s_("Before July 1, 2022, all free tier public open source projects must %{enrollment_link} to continue to receive GitLab Ultimate benefits.").html_safe % { enrollment_link: enrollment_link }
          %br
          %br
          = s_("For more information, see the %{faq_link}.").html_safe % { faq_link: faq_link }
