- return unless current_user
- namespace = @project&.namespace || @group
- return unless namespace.present?

= cache([namespace, current_user], expires_in: 1.minute) do
  - storage_notification = EE::Namespace::Storage::Notification.new(namespace.root_ancestor, current_user)
  - if storage_notification.show?
    = render Namespaces::Storage::LimitAlert.new(namespace: namespace, user: current_user, notification_data: storage_notification.payload)
