- return unless current_user
- context = local_assigns.fetch(:context)

= cache([context, current_user], expires_in: 1.minute) do
  = render Namespaces::Storage::LimitAlertComponentBuilder.build(context: context, user: current_user)
