- return unless current_user.admin?

- service_ping_settings_path = metrics_and_profiling_admin_application_settings_path(anchor: 'js-usage-settings')

= link_to s_('RegistrationFeatures|Enable Service Ping and register for this feature.'), service_ping_settings_path, class: 'js-go-to-service-ping-settings'
