- if License.feature_available?(:license_scanning)
  = nav_link do
    = link_to security_and_compliance_admin_application_settings_path, title: _('Security and Compliance'), data: { qa_selector: 'admin_security_and_compliance_link' } do
      %span
        Security and Compliance
