- breadcrumb_title _("Policies")
- @content_wrapper_class = 'js-security-policies-container-wrapper'

#js-group-security-policies-list{ data: { group_path: group.full_path,
  documentation_path: help_page_path('user/application_security/policies/index.md') } }
