- if Feature.enabled?(:service_accounts_crud, @group)
  = render Pajamas::ButtonComponent.new(href: new_group_service_account_path(@group), button_options: { class: 'gl-md-w-auto gl-w-full' }) do
    = _('Create service account')
