- add_page_specific_style 'page_bundles/ci_cd_settings'

.js-protected-environment-create-form{ data: { project_id: @project.id,
                                      api_link: help_page_path('api/protected_environments.md'),
                                      docs_link: help_page_path('ci/environments/deployment_approvals.md', anchor: 'multiple-approval-rules') } }
