- access_levels = protected_environment.deploy_access_levels
- url = namespace_project_protected_environment_path(@project.namespace, @project, protected_environment)
- environment_link = protected_environment.environment_id? && namespace_project_environment_path(@project.namespace, @project, protected_environment.environment_id)
- delete_protected_environment_link = namespace_project_protected_environment_path(@project.namespace, @project, protected_environment)

%tr.js-protected-environment-edit-form{ data: { url: url,
                                       disabled: !can_admin_project,
                                       preselected_items: access_levels_data(access_levels).to_json,
                                       required_approval_count: protected_environment.required_approval_count,
                                       environment_name: protected_environment.name,
                                       environment_link: environment_link,
                                       delete_protected_environment_link: delete_protected_environment_link } }
