- default_label = s_('RepositorySettingsAccessLevel|Select')

.deploy_access_levels-container
  .js-allowed-to-deploy{ data: {label: default_label, disabled: local_assigns[:disabled], preselected_items: access_levels_data(access_levels).to_json } }
