#js-trial-status-widget{ data: trial_status_widget_data_attrs(root_group, trial_status) }
#js-trial-status-popover{ data: trial_status_popover_data_attrs(root_group, trial_status, ultimate_plan_id) }
