= render Pajamas::AlertComponent.new(variant: :success,
  alert_options: { class: 'gl-mt-3 gl-mb-7'},
  close_button_options: { 'aria-label' => _('Trial|Dismiss'), data: { uid: 'trial_success_banner_dismissed' } }) do |c|
  = c.body { _('Congratulations, your free trial is activated.') }

