!!! 5
%html.subscriptions-layout-html{ lang: 'en' }
  = render 'layouts/head'
  %body.gl-display-flex{ class: user_application_theme, data: body_data }
    = render "layouts/header/logo_with_title"
    .container.gl-display-flex.gl-flex-direction-column.gl-m-0.gl-px-0
      = render "layouts/broadcast"
      .gl-px-5
        = yield
