- header_title _("Your work"), root_path
- add_to_breadcrumbs _('Security'), security_dashboard_path
- page_title _('Security')
- nav 'your_work'
- @left_sidebar = true

= render template: 'layouts/application'
