- if @search_service_presenter.show_elasticsearch_tabs?
  = search_filter_link 'commits', _("Commits") if feature_flag_tab_enabled?(:global_search_commits_tab)
  = search_filter_link 'notes', _("Comments")
