- breadcrumb_title s_('OnDemandScans|On-demand scans')
- page_title s_('OnDemandScans|On-demand scans')
- add_page_specific_style 'page_bundles/ci_status'

- if Feature.enabled?(:dast_pre_scan_verification)
  = render partial: 'pre_scan_verification_alert', project: @project

#js-on-demand-scans{ data: on_demand_scans_data(@current_user, @project) }

