- header_title _("Your work"), root_path
- page_title _('Environments Dashboard')
- nav 'your_work'
- @left_sidebar = true
- add_page_specific_style 'page_bundles/operations'

#js-environments{ data: environments_data }
