.gl-mt-3.gl-text-secondary
  - template_link_url = help_page_path('user/project/description_templates')
  - link = link_to('', template_link_url, target: '_blank', rel: 'noopener noreferrer')
  = safe_format(s_('Promotions|Add %{link_start} description templates %{link_end} to help your contributors to communicate effectively!'), tag_pair(link, :link_start, :link_end))

