- breadcrumb_title _('Test cases')
- page_title _('Test cases')
- add_page_specific_style 'page_bundles/issuable_list'
- @content_class = 'project-test-cases'

#js-test-cases-list{ data: { can_create_test_case: can?(current_user, :create_test_case, @project).to_s,
  has_scoped_labels_feature: @project.feature_available?(:scoped_labels).to_s,
  initial_state: params[:state],
  page: params[:page],
  prev: params[:prev],
  next: params[:next],
  initial_sort_by: params[:sort],
  project_full_path: @project.full_path,
  project_labels_path: project_labels_path(@project, format: :json),
  test_case_new_path: new_project_quality_test_case_path(@project),
  empty_state_path: image_path('illustrations/empty-todos-md.svg') } }
