- return unless show_license_check_alert?(project)

%div{ class: [container_class, @content_class, 'gl-pt-5!'] }
  = render Pajamas::AlertComponent.new(variant: :warning,
    title: s_('SecurityOrchestration|License-Check has been deprecated'),
    alert_options: { class: 'js-license-check-deprecation-alert',
                      data: { feature_id: ::EE::SecurityOrchestrationHelper::LICENSE_CHECK_DEPRECATION_ALERT,
                              dismiss_endpoint: project_callouts_path,
                              project_id: project.id }},
    close_button_options: { data: { testid: 'dismiss-license-check-deprecation-alert' }}) do |c|
    = c.body do
      = deprecate_license_alert_message(project)
