.form-group
  = label :approver_ids, class: 'label-bold' do
    = _("Approval rules")
  #js-mr-approvals-settings{ approvals_app_data }
    .text-center.gl-mt-3
      = sprite_icon('spinner', size: 24, css_class: 'gl-spinner')
