.form-group
  %b= s_('StatusCheck|Status checks')
  %p.text-secondary
    - link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: help_page_path('user/project/merge_requests/status_checks') }

    = s_('StatusCheck|Check for a status response in merge requests. %{link_start}Learn more%{link_end}.').html_safe % { link_start: link_start, link_end: '</a>'.html_safe }

  #js-status-checks-settings{ status_checks_app_data(@project) }
    = gl_loading_icon(size: 'md')
