- page_title s_('IdentityVerification|Help us keep GitLab secure')

#js-arkose-labs-challenge{ data: arkose_labs_data.merge(session_verification_path: verify_arkose_labs_session_identity_verification_path) }
