- page_title s_('IdentityVerification|Help us keep GitLab secure')

= render_if_exists 'devise/shared/delete_unconfirmed_users_flash'

#js-identity-verification{ data: identity_verification_data(@user) }
