- add_to_breadcrumbs _('Security configuration'), project_security_configuration_path(@project)
- breadcrumb_title s_('DastProfiles|DAST profile library')
- page_title s_('DastProfiles|DAST profile library')

.js-dast-profiles{ data: dast_profiles_list_data(@project) }
