- return unless @project.feature_available?(:merge_requests, current_user)
- return unless @project.suggested_reviewers_available?

- if current_user.can?(:create_resource_access_tokens, @project)
  %section.settings.merge-requests-feature.no-animate#js-merge-request-suggested-reviewers-settings.expanded{ data: { qa_selector: 'merge_request_suggested_reviewers' } }
    .settings-header
      %h4.gl-display-inline-block= s_('SuggestedReviewers|Suggested reviewers')
      %p
        = s_("SuggestedReviewers|Get suggestions for reviewers based on GitLab's machine learning tool.")
        = link_to _("Learn more."), help_page_path("user/project/merge_requests/reviews/index.md"), target: '_blank', rel: 'noopener noreferrer'

    .settings-content
      = render 'projects/merge_requests_suggested_reviewers_form'
