- return unless show_trial_alert?(namespace)
= render Pajamas::AlertComponent.new(variant: :success, alert_options: { class: 'gl-mt-5', data: { testid: 'trial-alert' } }) do |c|
  - c.with_body do
    %span{ data: { testid: 'trial-activated-message' } }= s_("BillingPlans|Congratulations, your free trial is activated.")
