- default_label = s_('ProtectedEnvironment|Select groups')

.deploy_access_levels-container
  .js-allowed-to-deploy{ data: {label: default_label, preselected_items: access_levels_data(access_levels).to_json } }
