How can we make GitLab better?

You recently created a GitLab account, but haven't been active for a while. We'd love to know how we can make GitLab better for you. This anonymous survey should take less than 5 minutes of your time.

Take the survey: https://gitlab.fra1.qualtrics.com/jfe/form/SV_4O78MWXKDixtN7o

If you no longer wish to receive marketing emails from us, you can unsubscribe at any time: %tag_unsubscribe_url%
