%style{ type: 'text/css' }
  a[x-apple-data-detectors] { color: inherit !important; text-decoration: none   !important; font-size: inherit !important; font-family: inherit !important;  font-weight: inherit !important; line-height: inherit !important; }

  table, table td { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; }

  a.logo { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; color: #6b4fbb; text-decoration: underline; }

  a.contact { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-decoration: underline; color: #6e49cb; }

  img.logo-img { -ms-interpolation-mode: bicubic; border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; }

  @media only screen and (max-width: 595px) { .wrapper { width: 100% !important; margin: 0 auto !important; padding: 0 !important; } p, li { font-size: 18px !important; line-height: 26px !important; } .stack { width: 100% !important; } .stack-mobile-padding { width: 100% !important; margin-top: 20px !important; } .callout { padding-bottom: 20px !important; } .redbutton { text-align: center; } .stack33 { display: block !important; width: 100% !important; max-width: 100% !important; direction: ltr !important; text-align: center !important; } }

  @media only screen and (max-width: 480px) { u~div { width: 100vw !important; } div>u~div { width: 100% !important; } }

  @media only screen and (max-width: 414px) { /* iPhone 6 Plus */ }

  @media only screen and (max-width: 375px) { /* iPhone 6/6s/7 */}

%table{ border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "border-collapse:collapse !important;", width: "100%" }
  %tr
    %td{ align: "center", style: "padding: 0px;" }
      %table.wrapper{ border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "border-collapse:collapse !important;", width: "600" }
        %tr
          %td{ style: "padding: 0px;" }
            #main-story.mktEditable{ mktoname: "main-story" }
              %table{ border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "border-collapse:collapse !important;", width: "100%" }
                / logo header
                %tr
                  %td{ align: "left", style: "padding: 0px;" }
                    %a.logo{ href: "https://about.gitlab.com/" }
                      %img.logo-img{ alt: "go to about.gitlab.com", src: "https://about.gitlab.com/images/press/logo/png/gitlab-logo-gray-rgb.png", width: "200" }
                / /logo header

                / Spacer
                %tr
                  %td{ "aria-hidden": "true", height: "30", style: "font-size: 0; line-height: 0;" }
                / /Spacer

                / background image with live text overlay and icon
                %tr
                  %td{ bgcolor: "#ffffff", height: "auto", style: "max-width: 600px; width: 100%; text-align: center; height: 200px; padding: 0 15px; mso-line-height-rule: exactly; min-height: 40px; font-family: 'Source Sans Pro', helvetica, arial, sans-serif;", valign: "middle", width: "100%" }
                    %h1{ style: "font-size: 40px; line-height: 46px; color: #000000; font-weight: normal; margin: 0;" } How can we make GitLab better?
                / /background image with live text overlay and icon

                / Two body paragraph with bullet points
                %tr
                  %td{ style: "padding: 10px 20px 30px 20px; font-family: 'Source Sans Pro', helvetica, arial, sans-serif; color: #000000; font-size: 18px; line-height: 24px;" }
                    %p{ style: "margin: 0 0 20px 0;" } You recently created a GitLab account, but haven't been active for a while. We'd love to know how we can make GitLab better for you. This anonymous survey should take less than 5 minutes of your time.
                / /Two body paragraph with bullet points

                / border-based button purple
                %tr
                  %td{ align: "center", style: "padding: 10px 20px 80px 20px; font-family: 'Source Sans Pro', helvetica, arial, sans-serif;" }
                    %a{ href: "https://gitlab.fra1.qualtrics.com/jfe/form/SV_4O78MWXKDixtN7o", style: "-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; font-size: 24px; font-family: 'Source Sans Pro', helvetica, arial, sans-serif; color: #ffffff; text-decoration: none; border-radius: 5px; -webkit-border-radius: 5px; background-color: #6e49cb; border-top: 15px solid #6e49cb; border-bottom: 15px solid #6e49cb; border-right: 40px solid #6e49cb; border-left: 40px solid #6e49cb; display: inline-block;", target: "_blank", rel: "noopener noreferrer nofollow" } Take the survey
                / /border-based button purple

                / footer
                %tr{ style: "background-color: #ffffff;" }
                  %td{ align: "center", style: "padding:50px 20px 0 20px;" }
                    %a.logo{ href: "https://about.gitlab.com/" }
                      %img.logo-img{ alt: "go to about.gitlab.com", src: "https://about.gitlab.com/images/press/logo/png/gitlab-icon-rgb.png", width: "130" }
                %tr{ style: "background-color: #ffffff;" }
                  %td{ align: "center", style: "padding:0px ;" }
                %tr{ style: "background-color: #ffffff;" }
                  %td{ align: "center", style: "padding:0px 10px; font-family: 'Source Sans Pro', helvetica, arial, sans-serif; ;" }
                    %span.footernav{ style: "display:inline !important;color: #6e49cb; font-size: 16px; line-height: 26px; font-family: 'Source Sans Pro', helvetica, arial, sans-serif;" }
                      %a.contact{ href: "https://about.gitlab.com/blog/" } Blog
                      |
                      %a.contact{ href: "https://twitter.com/gitlab" } Twitter
                      |
                      %a.contact{ href: "https://www.facebook.com/gitlab/" } Facebook
                      |
                      %a.contact{ href: "https://www.youtube.com/channel/UCnMGQ8QHMAnVIsI3xJrihhg" } YouTube
                %tr{ style: "background-color:#ffffff;" }
                  %td{ align: "center", style: "padding: 40px 30px 20px 30px; font-family: 'Source Sans Pro', helvetica, arial, sans-serif;" }
                    %span{ style: "margin: 0; font-size: 18px; line-height: 26px; font-weight: bold;" } GitLab Inc.
                    %span{ style: "margin: 0; font-size: 16px; line-height: 26px;" } 268 Bush Street, #350, San Francisco, CA 94104, USA
                %tr{ style: "background-color: #ffffff;" }
                  %td{ align: "left", style: "padding: 20px 30px 20px 30px;" }
                    %span.footernav{ style: "display: inline !important; color: #6e49cb; font-size: 14px; line-height: 20px; font-family: 'Source Sans Pro', helvetica, arial, sans-serif; color: #424242;" }
                      If you no longer wish to receive marketing emails from us,
                      you can
                      %a.contact{ href: "%tag_unsubscribe_url%" } unsubscribe
                      at any time.
                / /footer
