%p
  = _('Hi %{username}!') % { username: sanitize_name(@user.name) }
%p
  = html_escape(_('A personal access token, named %{token_name}, has been revoked.')) % { token_name: @token_name }
%p
  - pat_link_start =  '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: @target_url }
  = html_escape(_('You can create a new one or check them in your %{pat_link_start}personal access tokens%{pat_link_end} settings.')) % { pat_link_start: pat_link_start, pat_link_end: '</a>'.html_safe }
