- if Feature.enabled?(:mirror_only_branches_match_regex, @project) && @project.licensed_feature_available?(:repository_mirrors)
  %div
    = gl_badge_tag mirror_branches_text(record), { class: 'gl-cursor-pointer', data: { toggle: 'tooltip' }, title: sanitize(record.mirror_branch_regex) }
