- page_title s_("ValueStreamAnalytics|Edit Value Stream: %{name}") % { name: @value_stream.name }
- add_page_specific_style 'page_bundles/cycle_analytics'

#js-cycle-analytics-edit-vs-app{ data: {} }
