- page_title _("Geo Settings")
= render partial: 'admin/geo/shared/license_alert'

- if Gitlab::Geo.license_allows?
  #js-geo-settings-form{ data: { "sites-path" => admin_geo_nodes_path } }
- else
  = render 'shared/empty_states/geo'
