.gl-mt-3.container-fluid{ class: content_class }
  = render Pajamas::AlertComponent.new(variant: :warning,
    dismissible: dismissible?,
    alert_options: { class: 'js-storage-enforcement-banner', data: callout_data}) do |c|
    - c.with_body do
      %p= text_paragraph_1
      %p= text_paragraph_2
      %p= text_paragraph_3
