= render Pajamas::ButtonComponent.new(variant: :confirm, block: true, button_options: { type: 'submit', data: { qa_selector: 'get_started_button' }, class: 'js-trial-welcome-btn' }) do
  = welcome_submit_button_text
