- page_title s_('Analytics|Analytics dashboards')
- breadcrumb_title s_("Analytics|Analytics dashboards")

#js-analytics-dashboards-list-app{ data: analytics_dashboards_list_app_data(@project) }
  = gl_loading_icon(size: 'lg', css_class: 'gl-my-7')
