- page_title s_('Analytics|Analytics dashboards')
- breadcrumb_title s_("Analytics|Analytics dashboards")

#js-analytics-dashboards-list-app{ data: analytics_dashboards_list_app_data(@project) }
  -# TODO replace deprecated skeleton styles with ViewComponent: https://gitlab.com/gitlab-org/gitlab/-/issues/363777
  .animation-container.gl-mt-7
    .skeleton-line-1.rounded-pill
    .skeleton-line-2.rounded-pill
    .skeleton-line-3.rounded-pill
