- add_to_breadcrumbs _("Vulnerability Report"), project_security_vulnerability_report_index_path(@project)
- breadcrumb_title @vulnerability.id
- page_title @vulnerability.title
- page_description @vulnerability.description
- add_page_specific_style 'page_bundles/security_dashboard'

#js-vulnerability-main{ data: { vulnerability: vulnerability_details_json(@vulnerability, @pipeline),
                                can_view_false_positive: @project.licensed_feature_available?(:sast_fp_reduction).to_s,
                                commit_path_template: commit_path_template(@project),
                                project_full_path: @project.full_path } }
