- @hide_top_links = true
- page_title    _("Topics")
- header_title  _("Topics"), dashboard_topics_path

= render 'dashboard/topics_head'
- if @topics.empty?
  = render 'shared/empty_states/topics'
- else
  = render partial: 'shared/topics/list'
